:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  /* height: 100vh; */
  overscroll-behavior-y: none;
}

.container {
  /* padding: 0 2rem; */
  width: 80%;
  margin: 0 auto;
}

.line-break {
  margin: 3rem auto;
  width: 70%;
  color: var(--color-light--1);
}

/* Heading */

.heading--container {
  display: block;
  margin: 3.3rem 4.4rem;
}

.heading {
  font-size: 3.6rem;
  font-weight: 600;
}

/* Your location  */
.address--div {
  margin-top: 4.4rem;
}
.location--heading-div {
  display: flex;
  align-items: center;
}

.current--location-svg {
  width: 2rem;
  height: 2rem;

  margin-right: 1rem;
  background-color: red;
  mask: url(./Images/current-location.svg) no-repeat center;
  -webkit-mask: url(./Images/current-location.svg) no-repeat center;
}

.your--location-heading {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.address {
  margin-left: 3.2rem;
  font-size: 2.4rem;
  font-weight: 300;
}

/* Map Container */

.map--container {
  /* width: 80%; */
  height: 64vh;
  display: flex;
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 5px;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
}
.map--div {
  width: 50%;
  background-color: #2d3439;
}

#map {
  flex: 3;
  height: 100%;
  background-color: #fff;
}

.popup-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.card {
  display: flex;
  justify-content: space-between;
}

/* Warehouse locations */

.warehouse--locations--div {
  padding: 2rem 4rem;
  width: 58rem;
  margin: 0 auto;

  background-color: #fff;
}

.area--location {
  font-size: 1.2rem;
  font-weight: 400;
}

.Warehouse--locations {
  overflow: scroll;
  height: 56vh;
  margin-top: 2rem;
}

.warehouse-location {
  width: 100%;
  height: 14rem;
  display: flex;

  border-radius: 5px;

  overflow: hidden;
}

.warehouse--image {
  width: 14rem;
  height: 14rem;
  object-fit: cover;

  border-radius: 5px;
}

.details-div {
  margin-left: 2rem;
}

.warehouse--name {
  font-size: 1.6rem;
  font-weight: 800;
}

.details--div--heading {
  font-size: 1.4rem;
  font-weight: 600;
}

.display-flex {
  display: flex;
  align-items: center;
  margin: 1.2rem 0;
}

.details--svg {
  width: 1.8rem;
  height: 1.8rem;
  stroke-width: 0.2rem;
  margin-right: 0.2rem;
}

.red-stroke {
  stroke: red;
}

.red-fill {
  fill: red;
}

.distance-div {
  margin: 0;
}

.deatils--info {
  font-weight: 400;
  font-size: 1.4rem;
  margin-left: 0.4rem;
}

/* pin location */

.pin--location {
  color: #2d3439;
  padding: 0.6rem 1rem;
  text-align: center;
  width: 8rem;
  height: 3rem;
  font-size: 1.2rem;

  font-weight: 600;
  background-color: #fff;
  border-radius: 1rem;

  border: none;
}

.pin--location:hover,
.pin--location:active {
  background-color: #2d3439;
  color: #fff;
}

.pin--location p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
